<div class="container">
  <div class="row">
    <h1>MLK's bar... All cocktails we can offer:</h1>
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/card', cocktail: cocktail %>
    </div>
    <% end %>
    <%= link_to "Add a new Cocktail", new_cocktail_path, class:"btn btn-success" %>
  </div>
</div>
