<div class="footer-wrapper">
  <div class="footer">
    <div class="footer-links">
      <% ["github","facebook", "instagram", "twitter", "linkedin"].each do |site| %>
      <%= link_to "https://www.#{site}.com", target: :_blank do %>
      <i class="fa fa-<%= site %>"></i>
      <% end %>
      <% end %>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fa fa-heart"></i> at Le Wagon
    </div>
  </div>

</div>
